In [22]:
#Hypothesis
#Home team advantage....#to be change
#Attendance overtime
#Goal trend overtime
#Winning teams and continents.

In [23]:
import pandas as pd

In [24]:
matches= pd.read_csv('WorldCupMatches.csv')
players= pd.read_csv('WorldCupPlayers.csv')
cups= pd.read_csv('WorldCups.csv')

In [25]:
# Dataframe overview function
def dataframe_overview(df):
    print('Dataframe Info:\n')
    df.info()

    print('\n Dataframe Description:\n')
    print(df.describe())
    
    print("\n Check null value in Dataframe: \n")
    print(df.isnull().sum())

    print('\n Check Duplicate values in Datafrme: \n')
    print(df.duplicated().sum())
    
    print('\n Check the unique values of dataframe: \n')
    print(df.nunique())

    print('\n Column Description: \n')
    print(list(df.columns))

    print('\n Shape of Dataframe (Rows,Colums):\n')
    print(df.shape)

    print('\n Data type of Each Column in Dataframe: \n ')
    print(df.dtypes)

    return

In [26]:
# Pass dataframes to overview
print('\n Displaying the Overview of worldcup matches  dataframe: \n')
dataframe_overview(matches)

 Displaying the Overview of worldcup matches  dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

 Dataframe Description:

              Year  Home Team Goals  Away Team Goals     Attendance  \
count   852.000000       852.000000       852.000000     850.000000
mean   1985.089202         1.811033         1.022300   45164.800000
std      22.448825         1.610255         1.087573   23485.249247
min    1930.000000         0.000000         0.000000    2000.000000
25%    1970.000000         1.000000         0.000000   30000.000000
50%    1990.000000         2.000000         1.000000   41579.500000
75%    2002.000000         3.000000         2.000000   61374.500000
max    2014.000000        10.000000         7.000000  173850.000000

       Half-time Home Goals  Half-time Away Goals       RoundID       MatchID
count            852.000000            852.000000  8.520000e+02  8.520000e+02
mean               0.708920              0.428404  1.066177e+07  6.134687e+07
std                0.937414              0.691252  2.729613e+07  1.110572e+08
min                0.000000              0.000000  2.010000e+02  2.500000e+01
25%                0.000000              0.000000  2.620000e+02  1.188750e+03
50%                0.000000              0.000000  3.370000e+02  2.191000e+03
75%                1.000000              1.000000  2.497220e+05  4.395006e+07
max                6.000000              5.000000  9.741060e+07  3.001865e+08

 Check null value in Dataframe:

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

 Check Duplicate values in Datafrme:

3735

 Check the unique values of dataframe:

Year                     20
Datetime                602
Stage                    23
Stadium                 181
City                    151
Home Team Name           78
Home Team Goals          11
Away Team Goals           7
Away Team Name           83
Win conditions           43
Attendance              622
Half-time Home Goals      7
Half-time Away Goals      6
Referee                 366
Assistant 1             387
Assistant 2             408
RoundID                 101
MatchID                 836
Home Team Initials       77
Away Team Initials       82
dtype: int64

 Column Description:

['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name', 'Home Team Goals', 'Away Team Goals', 'Away Team Name', 'Win conditions', 'Attendance', 'Half-time Home Goals', 'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2', 'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials']

 Shape of Dataframe (Rows,Colums):

(4572, 20)

 Data type of Each Column in Dataframe:

Year                    float64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals         float64
Away Team Goals         float64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals    float64
Half-time Away Goals    float64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                 float64
MatchID                 float64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [27]:
# Pass dataframes to overview
print('\n Displaying the Overview of worldcup matches  dataframe: \n')
dataframe_overview(matches)

 Displaying the Overview of worldcup matches  dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

 Dataframe Description:

              Year  Home Team Goals  Away Team Goals     Attendance  \
count   852.000000       852.000000       852.000000     850.000000
mean   1985.089202         1.811033         1.022300   45164.800000
std      22.448825         1.610255         1.087573   23485.249247
min    1930.000000         0.000000         0.000000    2000.000000
25%    1970.000000         1.000000         0.000000   30000.000000
50%    1990.000000         2.000000         1.000000   41579.500000
75%    2002.000000         3.000000         2.000000   61374.500000
max    2014.000000        10.000000         7.000000  173850.000000

       Half-time Home Goals  Half-time Away Goals       RoundID       MatchID
count            852.000000            852.000000  8.520000e+02  8.520000e+02
mean               0.708920              0.428404  1.066177e+07  6.134687e+07
std                0.937414              0.691252  2.729613e+07  1.110572e+08
min                0.000000              0.000000  2.010000e+02  2.500000e+01
25%                0.000000              0.000000  2.620000e+02  1.188750e+03
50%                0.000000              0.000000  3.370000e+02  2.191000e+03
75%                1.000000              1.000000  2.497220e+05  4.395006e+07
max                6.000000              5.000000  9.741060e+07  3.001865e+08

 Check null value in Dataframe:

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

 Check Duplicate values in Datafrme:

3735

 Check the unique values of dataframe:

Year                     20
Datetime                602
Stage                    23
Stadium                 181
City                    151
Home Team Name           78
Home Team Goals          11
Away Team Goals           7
Away Team Name           83
Win conditions           43
Attendance              622
Half-time Home Goals      7
Half-time Away Goals      6
Referee                 366
Assistant 1             387
Assistant 2             408
RoundID                 101
MatchID                 836
Home Team Initials       77
Away Team Initials       82
dtype: int64

 Column Description:

['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name', 'Home Team Goals', 'Away Team Goals', 'Away Team Name', 'Win conditions', 'Attendance', 'Half-time Home Goals', 'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2', 'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials']

 Shape of Dataframe (Rows,Colums):

(4572, 20)

 Data type of Each Column in Dataframe:

Year                    float64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals         float64
Away Team Goals         float64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals    float64
Half-time Away Goals    float64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                 float64
MatchID                 float64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [28]:
matches

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
import pandas as pd

# Assuming df is your DataFrame
float_columns = ['Year', 'Home Team Goals', 'Away Team Goals', 'Attendance',
                 'Half-time Home Goals', 'Half-time Away Goals', 'RoundID', 'MatchID']

# Convert float columns to int (handling missing values where necessary)
for col in float_columns:
    if matches[col].isnull().any():
        # Option 1: fill NaN with a default value like 0 before converting
        #matches[col] = matches[col].fillna(0).astype(int)
        # Option 2: or use Int64 dtype to allow for missing values
        matches[col] = matches[col].astype('Int64')
    else:
        matches[col] = matches[col].astype(int)

In [30]:
matches

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN
4568,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN
4569,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN
4570,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN
4571,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN

In [31]:
print('\n Displaying the Overview of worldcup players dataframe: \n')
dataframe_overview(players)

 Displaying the Overview of worldcup players dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37784 entries, 0 to 37783
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RoundID        37784 non-null  int64
 1   MatchID        37784 non-null  int64
 2   Team Initials  37784 non-null  object
 3   Coach Name     37784 non-null  object
 4   Line-up        37784 non-null  object
 5   Shirt Number   37784 non-null  int64
 6   Player Name    37784 non-null  object
 7   Position       4143 non-null   object
 8   Event          9069 non-null   object
dtypes: int64(3), object(6)
memory usage: 2.6+ MB

 Dataframe Description:

            RoundID       MatchID  Shirt Number
count  3.778400e+04  3.778400e+04  37784.000000
mean   1.105647e+07  6.362233e+07     10.726022
std    2.770144e+07  1.123916e+08      6.960138
min    2.010000e+02  2.500000e+01      0.000000
25%    2.630000e+02  1.199000e+03      5.000000
50%    3.370000e+02  2.216000e+03     11.000000
75%    2.559310e+05  9.741000e+07     17.000000
max    9.741060e+07  3.001865e+08     23.000000

 Check null value in Dataframe:

RoundID              0
MatchID              0
Team Initials        0
Coach Name           0
Line-up              0
Shirt Number         0
Player Name          0
Position         33641
Event            28715
dtype: int64

 Check Duplicate values in Datafrme:

736

 Check the unique values of dataframe:

RoundID           101
MatchID           836
Team Initials      82
Coach Name        335
Line-up             2
Shirt Number       24
Player Name      7663
Position            3
Event            1893
dtype: int64

 Column Description:

['RoundID', 'MatchID', 'Team Initials', 'Coach Name', 'Line-up', 'Shirt Number', 'Player Name', 'Position', 'Event']

 Shape of Dataframe (Rows,Colums):

(37784, 9)

 Data type of Each Column in Dataframe:

RoundID           int64
MatchID           int64
Team Initials    object
Coach Name       object
Line-up          object
Shirt Number      int64
Player Name      object
Position         object
Event            object
dtype: object

In [32]:
print('\n Displaying the Overview of worldcups dataframe: \n')
dataframe_overview(cups)

 Displaying the Overview of worldcups dataframe:

Dataframe Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            20 non-null     int64
 1   country         20 non-null     object
 2   winner          20 non-null     object
 3   runners-up      20 non-null     object
 4   third           20 non-null     object
 5   fourth          20 non-null     object
 6   goalsscored     20 non-null     int64
 7   qualifiedteams  20 non-null     int64
 8   matchesplayed   20 non-null     int64
 9   attendance      20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB

 Dataframe Description:

              year  goalsscored  qualifiedteams  matchesplayed
count    20.000000    20.000000       20.000000      20.000000
mean   1974.800000   118.950000       21.250000      41.800000
std      25.582889    32.972836        7.268352      17.218717
min    1930.000000    70.000000       13.000000      17.000000
25%    1957.000000    89.000000       16.000000      30.500000
50%    1976.000000   120.500000       16.000000      38.000000
75%    1995.000000   145.250000       26.000000      55.000000
max    2014.000000   171.000000       32.000000      64.000000

 Check null value in Dataframe:

year              0
country           0
winner            0
runners-up        0
third             0
fourth            0
goalsscored       0
qualifiedteams    0
matchesplayed     0
attendance        0
dtype: int64

 Check Duplicate values in Datafrme:

0

 Check the unique values of dataframe:

year              20
country           15
winner             9
runners-up        10
third             14
fourth            16
goalsscored       17
qualifiedteams     5
matchesplayed      9
attendance        20
dtype: int64

 Column Description:

['year', 'country', 'winner', 'runners-up', 'third', 'fourth', 'goalsscored', 'qualifiedteams', 'matchesplayed', 'attendance']

 Shape of Dataframe (Rows,Colums):

(20, 10)

 Data type of Each Column in Dataframe:

year               int64
country           object
winner            object
runners-up        object
third             object
fourth            object
goalsscored        int64
qualifiedteams     int64
matchesplayed      int64
attendance        object
dtype: object

In [33]:
# Cleaning function
def trim(df):
    df.columns = df.columns.str.strip()
    df = df.drop_duplicates()
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_')

    df_obj = df.select_dtypes(['object'])
    df[df_obj.columns] = df_obj.apply(lambda x: x.astype(str).str.strip())

    print("All column names cleaned, duplicates dropped, and text columns processed.")
    print("Clean dataset \n")
    print(df.head())
    return df

In [34]:
# Apply cleaning function
print("\n Clean  Dataset")
portfolio_df = trim(matches)
print(" dataset cleaned.")

print("\n Clean  Dataset")
portfolio_price_df = trim(players)
print(" dataset cleaned.")

print("\n Clean  Dataset")
news_data_df = trim(cups)
print(" dataset cleaned.")

 Clean  Dataset
All column names cleaned, duplicates dropped, and text columns processed.
Clean dataset

   year             datetime    stage         stadium        city  \
0  1930  13 Jul 1930 - 15:00  Group 1         Pocitos  Montevideo
1  1930  13 Jul 1930 - 15:00  Group 4  Parque Central  Montevideo
2  1930  14 Jul 1930 - 12:45  Group 2  Parque Central  Montevideo
3  1930  14 Jul 1930 - 14:50  Group 3         Pocitos  Montevideo
4  1930  15 Jul 1930 - 16:00  Group 1  Parque Central  Montevideo

  home_team_name  home_team_goals  away_team_goals away_team_name  \
0         France                4                1         Mexico
1            USA                3                0        Belgium
2     Yugoslavia                2                1         Brazil
3        Romania                3                1           Peru
4      Argentina                1                0         France

  win_conditions  attendance  half-time_home_goals  half-time_away_goals  \
0                       4444                     3                     0
1                      18346                     2                     0
2                      24059                     2                     0
3                       2549                     1                     0
4                      23409                     0                     0

                  referee               assistant_1  \
0  LOMBARDI Domingo (URU)     CRISTOPHE Henry (BEL)
1       MACIAS Jose (ARG)  MATEUCCI Francisco (URU)
2     TEJADA Anibal (URU)   VALLARINO Ricardo (URU)
3   WARNKEN Alberto (CHI)       LANGENUS Jean (BEL)
4     REGO Gilberto (BRA)      SAUCEDO Ulises (BOL)

                  assistant_2  roundid  matchid home_team_initials  \
0         REGO Gilberto (BRA)      201     1096                FRA
1       WARNKEN Alberto (CHI)      201     1090                USA
2         BALWAY Thomas (FRA)      201     1093                YUG
3    MATEUCCI Francisco (URU)      201     1098                ROU
4  RADULESCU Constantin (ROU)      201     1085                ARG

  away_team_initials
0                MEX
1                BEL
2                BRA
3                PER
4                FRA
 dataset cleaned.

 Clean  Dataset
All column names cleaned, duplicates dropped, and text columns processed.
Clean dataset

   roundid  matchid team_initials           coach_name line-up  shirt_number  \
0      201     1096           FRA  CAUDRON Raoul (FRA)       S             0
1      201     1096           MEX     LUQUE Juan (MEX)       S             0
2      201     1096           FRA  CAUDRON Raoul (FRA)       S             0
3      201     1096           MEX     LUQUE Juan (MEX)       S             0
4      201     1096           FRA  CAUDRON Raoul (FRA)       S             0

        player_name position event
0       Alex THEPOT       GK   nan
1   Oscar BONFIGLIO       GK   nan
2  Marcel LANGILLER      nan  G40'
3      Juan CARRENO      nan  G70'
4   Ernest LIBERATI      nan   nan
 dataset cleaned.

 Clean  Dataset
All column names cleaned, duplicates dropped, and text columns processed.
Clean dataset

   year      country      winner      runners-up    third      fourth  \
0  1930      Uruguay     Uruguay       Argentina      USA  Yugoslavia
1  1934        Italy       Italy  Czechoslovakia  Germany     Austria
2  1938       France       Italy         Hungary   Brazil      Sweden
3  1950       Brazil     Uruguay          Brazil   Sweden       Spain
4  1954  Switzerland  Germany FR         Hungary  Austria     Uruguay

   goalsscored  qualifiedteams  matchesplayed attendance
0           70              13             18    590.549
1           70              16             17    363.000
2           84              15             18    375.700
3           88              13             22  1.045.246
4          140              16             26    768.607
 dataset cleaned.

/tmp/ipykernel_10301/756464511.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df_obj.columns] = df_obj.apply(lambda x: x.astype(str).str.strip())
/tmp/ipykernel_10301/756464511.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df_obj.columns] = df_obj.apply(lambda x: x.astype(str).str.strip())

In [35]:
#To check for the headers column
df.columns

NameError: name 'df' is not defined

In [ ]:
# Remove all rows with any NaN values
df = df.dropna()
df

In [ ]:
# Function to remove the � character from strings
def remove_bad_char(x):
    if isinstance(x, str):
        return x.replace('�', '')
    return x

df

In [ ]:
#To check and drop all the duplication value
df.drop_duplicates()
df

In [ ]:
# Function to remove trailing zeros after decimal
def remove_trailing_zeros(x):
    if isinstance(x, float):
        return str(x).rstrip('0').rstrip('.') if '.' in str(x) else str(x)
    return x
print(df.head())

In [ ]:
df['Datetime'] = pd.to_datetime(df['Datetime'], errors='coerce').dt.date
df

In [ ]:
def trim(df):
    df.columns = df.columns.str.strip()
    df = df.drop_duplicates()
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_')
    df_obj = df.select_dtypes(['object'])
    df[df_obj.columns] = df_obj.apply(lambda x: x.astype(str).str.strip())
    
    print("All column names cleaned, duplicates dropped, and text columns processed.")
    print("Clean dataset \n")
    print(df.head())
    return df

In [ ]:
df= trim(df)
df

In [ ]:
# To drop the columns that are not necessary for our findings.
df_columns = df.drop(['half-time_home_goals', 'half-time_away_goals','referee', 'assistant_1','assistant_2',
                        ], axis=1, inplace=True)
df

In [ ]:
df.columns

In [ ]:
df

In [ ]:
# To save the data into .csv file
output_file = 'match_history.csv'
df.to_csv(output_file, index=False)
print(f"WorldCupMatches saved to '{output_file}'")

In [ ]:
import pandas as pd
df1 = pd.read_csv('WorldCupPlayers.csv')
df1

In [ ]:
# Remove all rows with any NaN values
df1 = df1.dropna()
df1

In [ ]:
# Function to remove the � character from strings
def remove_bad_char(x):
    if isinstance(x, str):
        return x.replace('�', '')
    return x

df1

In [ ]:
import pandas as pd
df2 = pd.read_csv("WorldCups.csv")
df2